.copy-container{
    position: relative;
    flex: 1 1 auto;
    .copy-button{
        position:absolute;
        top:-30px;
        left:0px;
        z-index: 999;
        visibility: hidden;
    }
}